<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>contato</title>
</head>

<body class="container-xxl">

  <div class="container">
   
      <div class="row mt-2">
        <h3>Lista de contato</h3>

        <form method="get" class="row">
          <div class="col-9">
            <input type="text" name="pesquisa" class="form-control">
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </div>
        </form>

        <div class="col-12">
          <table class="table">

            <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Assunto</th>
                <th>Respondido</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{context['dados'][0].nome}}</td>
                <td>{{context['dados'][0].email}}</td>
                <td>{{context['dados'][0].assunto}}</td>
                <td>{{context['dados'][0].respondido}}</td>
              </tr>
                <tr>
                <td>{{context['dados'][1].nome}}</td>
                <td>{{context['dados'][1].email}}</td>
                <td>{{context['dados'][1].assunto}}</td>
                <td>{{context['dados'][1].respondido}}</td>
              </tr>
            </tbody>

          </table>
        </div>




      </div>

    

  </div>

   
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>